.header {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  height: 56px !important;
  background: linear-gradient(90deg, #5A1FE8 16.4%, #193BE3 100%) !important;
  z-index: 1;

  .headerLeft {
    .logo {
      height: 56px;
      line-height: 1.5;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 30px;
        margin-right: 36px;
        margin-left: 28px;
      }
      span {
        color: #AEA3FF;
        font-family: MiSans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .headerRight {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    > li {
      margin: 0 20px;
      cursor: pointer;
      height: 56px;
      align-items: center;
      display: flex;
      div {
        display: flex;
        height: 56px;
        align-items: center;
      }
      .language {
        font-size: 14px;
        color: #ffffff;
        margin-left: 5px;
      }
      ul {
        overflow: hidden;
        li {
          padding: 0 !important;
        }
      }

    }
    :global {
      .ant-menu-light{
        background: transparent !important;
      }

    }
  }
}

/*所有服务-菜单样式*/
.allService {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 27px;
  line-height: 80px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 80px;
  background: #F3F5FB;
  span:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 100%;
  }
}
.centerAllService {
  justify-content: center !important;
}


:global {
  .ant-layout-sider-light{
    background: #F3F5FB !important;
    box-shadow: -1px 0px 0px 0px #F0F0F0 inset !important;
  }
  .ant-menu-light{
    background: #F3F5FB !important;
  }
  .ant-menu-item svg{
    font-size: 18px;
  }
  .ant-menu-item-selected{
    border-radius: 12px !important;
    background: #5B46F6 !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff !important;
  }
  .ant-menu-item-selected svg path{
    fill: #ffffff;
  }
  .ant-layout-sider-trigger{
    height: 80px !important;
    display: flex;
    justify-content: center;
    background: #E8EBF4 !important;
    svg{
      transform: scale(1.8);
    }
  }
  .ant-layout >div{
    border-radius: 20px;
  }
}

.childApp {
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 999;
}

.tooltipContainer {
  position: absolute;
}

.switchText {
  cursor: pointer;
  color: #0a6cff;
  margin-left: 8px;
}
